body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header,
section:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#featured-property p {
  width: 800px;
  text-align: center;
}
figcaption {
  font-size: 90%;
  text-align: center;
}
section#details {
  display: flex;
  justify-content: space-around;
  background-color: orangered;
  text-align: center;
}
